html, body{
	height: 100%;
   padding: 0px;
   margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #333333;
}
#main{
	 height: 100%;
    width: 100%;
	 background: #eee;
    display: table;
    text-align: center;
    vertical-align: middle;
	 margin-top: 0px;
	 margin-bottom:0px;  
} 
.main{
	width: 563px;
	margin: 0px;
	padding: 0px;
}
#main .inw_main{    
    display: table-cell;
    background: #ffffff;
	 vertical-align: middle;
    height: 100%;
}
#main .cent{
    margin: 0 auto;
    width: 563px;
    height: auto;
	 padding:0px;
	/*border: 1px solid #000000;*/
    margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<=0 ? '0px':(parentNode.offsetHeight/2 - this.offsetHeight/2));
}
.inter_one{
	background: url(../img/bg_home.jpg);
	width: 563px;
	height: 728px;
	/*float: left;*/
}
.inter_two{
	background: #D7EAF7;
	width: 563px;
	height: auto;
	float: left;
	padding-bottom: 27px;
}
.sub_logo{
	width: 563px;
	height: 87px;
	float: left;
}
.logo{
	float: right;
	margin: 21px 32px 0 0; 
}
.m_top{
	width:552px;
	height: 22px;
	float: left;
	background: #008EB0;
	padding: 8px 0 0 10px;
	text-align: left;color: #fff;font-weight: bold;
}
.m_top span{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: -2px 6px 0 6px;
	float: left;
}
.m_top a{
	color: #fff;
	display: block;font-size:80%;
	line-height: 13px;
	float:left;
	text-decoration: none;font-weight:normal; text-align: center;
}
.m_top a:hover{
	color: #fff; display: block;
	font-weight: bold;
	border-bottom: solid 2px #40AAC4;text-decoration: none;text-align: center;
}
.m_top a.rol{
	color: #fff; display: block;
	font-weight: bold;
	border-bottom: solid 2px #40AAC4;text-decoration: none;text-align: center;
}
.autor_web{
	float: right;
	margin-top: 249px;
}
.footer_home{
	float: left;
	width: 563px;
	margin-top: 263px;
	height: 9px;
}

.footer_home_in{
	float: left;
	width: 563px;
	margin: 123px 0 0 0;
	height: 9px;
}
.footer_home img{
	float: left;
	margin-left: 188px;
}
.footer_home_in img{
	float: left;
	margin-left: 240px;
}
h1{
	margin:0; padding:0;
	font-size:150%; 
	margin-bottom:15px;
	padding-bottom:1px;
	padding-top:30px;
	color: #1E60AC;
	border-bottom:5px solid #D2232A;
}
.content_main{
	width: 524px;
	float: left;
	padding: 0px 0px 0px 39px;
	text-align: left;
	margin: 0 0 -10px 0; 
}
.content_main img{ float: left;margin-bottom:15px;}
.content_main p{
	margin: 0px 23px 15px 0px;
	color: #00428a;
	font-weight: normal;
	font-size: 80%;
	font-family: Arial; 
	text-indent: 10px;float:left; text-align: justify;
}
.resp{
	width: 100%;
	float: left;
	height: 10px;
}
.about_us{
	height: 400px;
	
}
.about_us p{
	width: 384px;
	text-align: justify;
	float: left;font-weight:normal;
}
.about_us img{
	float: left;
	margin: 0 14px 0 0;
}